.thumbnail-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 1em; /* add padding here */
}

.thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bordered-image {
    border: 2px solid #000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

body {
    background-blur: 5px;
}

body::before {
    content: "";
    position: fixed; /* change from absolute to fixed */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; /* add this */
    min-height: 100%; /* add this */
    background: url(/assets/background.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 1.0; /* adjust as needed */
    z-index: -1;
}

.title-background {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 5px;
}

p.my-custom-background {
    background: rgba(70, 130, 180, 0.9);
    color: white;
    border-radius: 10px; /* Adjust this value to increase or decrease the roundness of the corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); /* Adjust these values to achieve your desired shadow effect */
    padding: 10px; /* Add some padding so the text isn't right up against the edge of the box */
    width: 80%; /* adjust as needed */
    margin-left: auto;
    margin-right: auto;
}
